<!DOCTYPE html>
<html>
  <head>
    <title>Clean Nest</title>

    <link rel="stylesheet" href="tryout.css" />
  </head>
  <body>
    <div class="move">
      <form action="/login">
        <input type="submit" value="Clock In" />
      </form>
      <form action="/signup">
        <input type="submit" value="New Employee" />
      </form>
      <!-- <a href="/login" class="w-100 btn btn-lg btn-primary" type="submit">Clock in</a>
        <a href="" class="w-100 btn btn-lg btn-primary" type="submit">New Employee</a> -->
    </div>
  </body>
</html>
